:root {
    --primary-color: #007ac9;
    background-color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

i {
    font-size: 18px;
}

.loading-h3 {
    font-weight: 300;
    color: white;
    margin-bottom: 40px;
}

#loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}


/** Search styling **/

.station-search, .journey-search {
    margin: 10px;
    width: 350px;
    text-align: center;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
}

.journey-search {
    margin-left: auto;
    margin-right: auto;
}


/** NavBar styling**/

.nav-container {
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.nav-text {
    color: white
}

.nav-text:hover {
    opacity: 0.9;
    cursor: pointer;
}

/** Pages styling **/

.landing-container, .journeys-container, .stations-container {
    width: 100%;
    text-align: center;
}

.single-station-h2 {
    color: white;
    font: 28px;
}

.landing-h1, .stations-h1, .journeys-h1 {
    font-size: 35px;
    color: white;
}

.stations-h4 {
    color: white;
}

.landing-h4 {
    color: white;
    font-size: 20px;
}

.landing-data-text {
    color: white;
}

.journeys-btn, .stations-btn, .new-item-btn, .confirm-btn, .cancel-btn, .next-btn, .done-btn, .previous-btn {
    width: 250px;
    height: 120px;
    background-color: var(--primary-color);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin: 15px;
    font-size: 17px;
    font-weight: 600;
}

.journeys-btn:hover, .stations-btn:hover, .new-item-btn:hover, .confirm-btn:hover, .cancel-btn:hover, .next-btn:hover, .done-btn:hover, .previous-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}


.journeys-table, .stations-table, .single-table, .single-table-stats {
    border: 1px solid white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.single-table {
    border: 0;
}

.single-table-stats {
    border: 0;
    margin-top: 10px;
}

.stations-table {
    margin: auto;
}


.th-journeys, .th-stations, .single-th {
    width: 15%;
    color: white;
    text-align: center;
    padding: 10px;
}

.td-journey-item, .td-station-item, .single-td {
    text-align: center;
    color: white;
    padding: 7px;
    font-weight: 400;
}

.th-stations {
    font-size: 20px;
}

.td-station-item {
    padding: 10px;
    font-size: 18px;
}

.td-station-item:hover {
    cursor: pointer;
    opacity: 0.9;
}

.new-item-btn {
    height: 60px;
    margin-bottom: 25px;
}

.next-btn, .previous-btn {
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

/** Create journey styling **/

.create-journey-h2 {
    color: white;
}

.create-journey, .single-station-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.create-journey-inner, .single-station-inner {
    position: relative;
    padding: 16px;
    width: 100%;
    max-width: 400px;
    background-color:var(--primary-color);
    justify-content: center;
    align-items: left;
    border-radius: 10px;
    position:relative;
    position: absolute;
    top: 50px;
    
}

.single-station-inner {
    max-width: 800px;
}

.journey-label {
    display: block;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.input-journey {
    width: 350px;
    font-weight: 500;
    color: black;
    margin: 5px;
    font-size: 15px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: 0
}

.pg-input {
    font-size: 18px;
    background-color: var(--primary-color);
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    max-width: 100px;
    text-align: center;
    padding: 5px;
    font-weight: 600;
}

.pg-input:focus, .input-journey:focus, .station-search:focus, .journey-search:focus {
    outline: none;
}

.confirm-btn, .cancel-btn, .done-btn {
    font-weight: 600;
    width: 100px;
    height: 50px;
}


.single-th {
    font-weight: 500;
    font-size: 19px;
    max-width: 350px;
}


