:root {
    background-color: black;
}

html {
    font-family: 'Roboto', sans-serif;
}

/** NavBar styling**/

.nav-container {
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.nav-text {
    color: white
}


.nav-text:hover {
    opacity: 0.9;
    cursor: pointer;
}

/** Footer styling **/

.footer-container {
    margin-top: 1rem;
    padding: 1rem;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    align-items: center;
    text-align: center;
}

.footer-text {
    font-weight: 200;
    font-size: 13px;
}

/** Pages styling **/

.landing-container, .journeys-container, .stations-container {
    width: 100%;
    text-align: center;
}

.landing-h1, .stations-h1, .journeys-h1 {
    font-size: 35px;
    color: white;
}

.journeys-btn, .stations-btn {
    width: 250px;
    height: 120px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin: 15px;
    font-size: 17px;
    font-weight: 600;
}

.journeys-btn:hover, .stations-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

