:root {
    --primary-color: #007ac9;
    background-color: var(--primary-color);
}

html, input, button {
    font-family: 'Roboto', sans-serif;
}

i {
    font-size: 18px;
}


/** NavBar styling**/

.nav-container {
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.nav-text {
    color: white
}


.nav-text:hover {
    opacity: 0.9;
    cursor: pointer;
}

/** Footer styling **/

.footer-container {
    margin-top: 1rem;
    padding: 1rem;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    align-items: center;
    text-align: center;
}

.footer-text {
    font-weight: 200;
    font-size: 13px;
}


/** Pages styling **/

.landing-container, .journeys-container, .stations-container {
    width: 100%;
    text-align: center;
}

.landing-h1, .stations-h1, .journeys-h1 {
    font-size: 35px;
    color: white;
}

.stations-h4 {
    color: white;
}

.journeys-btn, .stations-btn, .new-item-btn, .confirm-btn, .cancel-btn, .next-btn {
    width: 250px;
    height: 120px;
    background-color: var(--primary-color);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin: 15px;
    font-size: 17px;
    font-weight: 600;
}

.journeys-btn:hover, .stations-btn:hover, .new-item-btn:hover, .confirm-btn:hover, .cancel-btn:hover, .next-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}


.journeys-table, .stations-table {
    border: 1px solid white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.th-journeys, .th-stations {
    width: 5%;
    color: white;
    text-align: center;
    padding: 10px;
}

.td-journey-item, .td-station-item {
    text-align: center;
    color: white;
    padding: 7px;
    font-weight: 600;
}

.new-item-btn {
    height: 60px;
    margin-bottom: 25px;
}

.next-btn {
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

/** Create journey styling **/

.create-journey-h2 {
    color: white;
}

.create-journey {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.create-journey-inner {
    position: relative;
    padding: 16px;
    width: 100%;
    max-width: 400px;
    background-color:var(--primary-color);
    justify-content: center;
    align-items: left;
    border-radius: 10px;
    position:relative;
    position: absolute;
    top: 50px;
    
}

.journey-label {
    display: block;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.input-journey {
    width: 350px;
    font-weight: 700;
    color: black;
    margin: 5px;
    font-size: 15px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: 0
}

.confirm-btn, .cancel-btn {
    font-weight: 600;
    width: 100px;
    height: 50px;
}



